/* background color*/
$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #f5f4fa;
$herofootBackgroundColor: #2f303a;
$hoverBackgroundColor: #2196f3;

/* text Color*/
$primaryTextColor: #757575;
$titleTextColor: #212121;
$heroTextColor: #ffffff;
$hoverTextColor: #2196f3;
$clientsLinkColor: #b7bbc9;

/* border Color*/
$primaryBorderColor: #afb1b8;

/* font weight*/
$heroWeight: 900;
$primaryTitleWeight: 700;
$secondaryTitleWeight: 500;

/* font size*/
$primarySize: 14px;
$secondarySize: 16px;
$logoSize: 26px;
$heroSize: 44px;
$primaryTitleSize: 36px;
$modalTitleSize: 20px;
$formTextSize: 12px;
$portfolioTitleSize: 18px;

/* font family*/
$primaryFamily: Roboto, sans-serif;
$secondaryFamily: Raleway, sans-serif;

/* letter-spacing*/
$primaryLetterSpacing: 0.03em;
$linkLetterSpacing: 0.02em;
$titleButtonLetterSpacing: 0.06em;
$modalTextLetterSpacing: 0.01em;
